@media screen and (max-width:576px){

}
/* end small mobile */

@media screen and (min-width:577px){
    
}
/* end big mobile */

@media screen and (min-width:768px){
    .text-block-one{
        left: 0;
    }
    
}
/* end tablet */

@media screen and (min-width:992px){
    .page-one-text>*{
        text-align: right;
    }
    .page-two-text p , .page-four-text p , .page-seven-text p{
        width: 50%;
    }
    .page-four figure:nth-of-type(2){
        right: -300px;
        top: -14%;
    }
    .page-five-left , .page-six-right , .page-eight-left{
        height: auto;
    }
    .text-block , .text-block-two{
        width: 33vw;
        min-height: 18vw;
    }
    .text-block-one{
        width: 33vw;
        min-height: 18vw;
        top: 50%;
    }
    
    .page-seven figure:nth-of-type(2){
        left: -300px;
        top: -14%;
    }
    .text-block-three{
        width: 575px;
    }
}

/* end desktop */

@media screen and (min-width:1200px){
    
  
}

/* end big */

@media screen and (min-width:1400px){
   .page-three{
    height: 50vh;
   }
   .page-nine{
    height: 50vh;
}
}
/* end big */